*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container h2{
    margin: 12px;
    border: 2px solid  rgb(0, 0, 0);
    background-color: rgb(45 40 85);
    border-radius:20px ;
    color: white;
    text-align: center !important;
}
.content-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;
  
}
.card{
    box-shadow: 10px 10px 8px black;
    /* border:2px solid black; */
}
@media screen and (max-width:992px){
.content-item{
    grid-template-columns: 1fr 1fr;
}

}
@media screen and (max-width:750px){
.content-item{
    grid-template-columns: 1fr;
}

}