*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-name{
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr !important; */
}
.btn{
    background: rgb(45 40 85) !important;
}